# Intro to python

### Strings

In [1]:
# 1. TASK: print "Hello World"
print( "Hello word" )
# 2. print "Hello Noelle!" with the name in a variable
name = "Noelle"
print( "Hello", name )	# with a comma
print( "Hello"+ name  )	# with a +
# 3. print "Hello 42!" with the number in a variable
name = 42
print( "Hello", name )	# with a comma
##print( "Hello" + name  )	# with a +	-- this one should give us an error!
# 4. print "I love to eat sushi and pizza." with the foods in variables
fave_food1 = "sushi"
fave_food2 = "pizza"
print( "I  love to eat {} and {}".format(fave_food1,fave_food2)) # with .format()
print(f"I  love to eat {fave_food1} and {fave_food2}") # with an f string


# is suchi  lower case upper case?
fave_food1.isupper()
fave_food1.islower()

# upper case the string 
fave_food1.upper()


fave_food1.split("i")

# count the how many "s " in word sushi 
fave_food1.count("s")

Hello word
Hello Noelle
HelloNoelle
Hello 42
I  love to eat sushi and pizza
I  love to eat sushi and pizza

2

### Basic for loobs  |

In [2]:
#Print all integers from 0 to 150. Hint:use a for loop and range
print(" print  integers from 0 to 150 ")
for i in range(0,150,1):
  print(i)

# Print all the multiples of 5 from 5 to 1,000
print(" Print all the multiples of 5 from 5 to 1,000")
for b in range(5,1000,5):
  print(b)


# Print integers 1 to 100. If divisible by 5, print "Coding" instead. If divisible by 10, print "Coding Dojo".
print ("Print integers 1 to 100. If divisible by 5, print  Coding instead. If divisible by 10, print Coding Dojo.")
for i in range(1,100,1):
    if ( i % 5)==0:
     print ("coding")
    elif ( i % 10)==0:
     print ("Coding Dojo")
    else:
      print(i)
    
    
 #Add odd integers from 0 to 500,000, and print the final sum.

sum=0

for i in range(50):
    if ( i % 2==1):
     sum+= i
     break
     print (sum)

 print  integers from 0 to 150
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
 Print all the multiples of 5 from 5 to 1,000
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100
105
110
115
120
125
130
135
140
145
150
155
160
165
170
175
180
185
190
195
200
205
210
215
220
225
230
235
240
245
250
255
260
265
270
275
280
285
290
295
300
305
310
315
320
325
330
335
340
345
350
355
360
365
370
375
380
385
390
395
400
405
410
415
420
425
430
435
440
445
450
455
460
465
470
475
480
485
490
495
500
505
510
515
520
525
530
535
540
545
550
555
560
565
570
575
580
585
590
595
600
605
610
615
620
625
630
635
640
645
650
655
660
665
670
675
680
685
690
695
700
705
710
715
720
725
730
735
740
745
750
755
760
765
770
775
780
785
790
795
800
805
810
815
820
825
830
835
840
845
850
855
860
865
870
875
880
885
890
895
900
905
910
915
920
925
930
935
940
945
950
955
960
965
970
975
980
985
990
995
Print integers 1 to 100. If divisible by 5, print  Coding instead. If divisible by 10, print Coding Dojo.
1
2
3
4
coding
6
7
8
9
coding
11
12
13
14
coding
16
17
18
19
coding
21
22
23
24
coding
26
27
28
29
coding
31
32
33
34
coding
36
37
38
39
coding
41
42
43
44
coding
46
47
48
49
coding
51
52
53
54
coding
56
57
58
59
coding
61
62
63
64
coding
66
67
68
69
coding
71
72
73
74
coding
76
77
78
79
coding
81
82
83
84
coding
86
87
88
89
coding
91
92
93
94
coding
96
97
98
99

In [3]:
 #Add odd integers from 0 to 500 and print the final sum.
i=1
sum=0
while i<=5000:
    if i%2==1:
        sum=sum+i
    i=i+1
print (sum)

6250000

In [4]:
#Print positive numbers starting at 2018, counting down by fours.


for n in range(2018,0,-4):
      if n%2==0:
        print(n)

2018
2014
2010
2006
2002
1998
1994
1990
1986
1982
1978
1974
1970
1966
1962
1958
1954
1950
1946
1942
1938
1934
1930
1926
1922
1918
1914
1910
1906
1902
1898
1894
1890
1886
1882
1878
1874
1870
1866
1862
1858
1854
1850
1846
1842
1838
1834
1830
1826
1822
1818
1814
1810
1806
1802
1798
1794
1790
1786
1782
1778
1774
1770
1766
1762
1758
1754
1750
1746
1742
1738
1734
1730
1726
1722
1718
1714
1710
1706
1702
1698
1694
1690
1686
1682
1678
1674
1670
1666
1662
1658
1654
1650
1646
1642
1638
1634
1630
1626
1622
1618
1614
1610
1606
1602
1598
1594
1590
1586
1582
1578
1574
1570
1566
1562
1558
1554
1550
1546
1542
1538
1534
1530
1526
1522
1518
1514
1510
1506
1502
1498
1494
1490
1486
1482
1478
1474
1470
1466
1462
1458
1454
1450
1446
1442
1438
1434
1430
1426
1422
1418
1414
1410
1406
1402
1398
1394
1390
1386
1382
1378
1374
1370
1366
1362
1358
1354
1350
1346
1342
1338
1334
1330
1326
1322
1318
1314
1310
1306
1302
1298
1294
1290
1286
1282
1278
1274
1270
1266
1262
1258
1254
1250
1246
1242
1238
1234
1230
1226
1222
1218
1214
1210
1206
1202
1198
1194
1190
1186
1182
1178
1174
1170
1166
1162
1158
1154
1150
1146
1142
1138
1134
1130
1126
1122
1118
1114
1110
1106
1102
1098
1094
1090
1086
1082
1078
1074
1070
1066
1062
1058
1054
1050
1046
1042
1038
1034
1030
1026
1022
1018
1014
1010
1006
1002
998
994
990
986
982
978
974
970
966
962
958
954
950
946
942
938
934
930
926
922
918
914
910
906
902
898
894
890
886
882
878
874
870
866
862
858
854
850
846
842
838
834
830
826
822
818
814
810
806
802
798
794
790
786
782
778
774
770
766
762
758
754
750
746
742
738
734
730
726
722
718
714
710
706
702
698
694
690
686
682
678
674
670
666
662
658
654
650
646
642
638
634
630
626
622
618
614
610
606
602
598
594
590
586
582
578
574
570
566
562
558
554
550
546
542
538
534
530
526
522
518
514
510
506
502
498
494
490
486
482
478
474
470
466
462
458
454
450
446
442
438
434
430
426
422
418
414
410
406
402
398
394
390
386
382
378
374
370
366
362
358
354
350
346
342
338
334
330
326
322
318
314
310
306
302
298
294
290
286
282
278
274
270
266
262
258
254
250
246
242
238
234
230
226
222
218
214
210
206
202
198
194
190
186
182
178
174
170
166
162
158
154
150
146
142
138
134
130
126
122
118
114
110
106
102
98
94
90
86
82
78
74
70
66
62
58
54
50
46
42
38
34
30
26
22
18
14
10
6
2

## Function |

In [2]:
#1 it will print 5
def a():
    return 5
print(a())

5

In [3]:
#2 it will print 10
def a():
    return 5
print(a()+a())

10

In [5]:
#3 it will print 5
def a():
    return 5
    return 10
print(a())

5

In [6]:
#4 it will print 5
def a():
    return 5
    print(10)
print(a())

5

In [7]:
#5 it will print 5
def a():
    print(5)
x = a()
print(x)

5
None

In [8]:
#6 it will print 3,5
def a(b,c):
    print(b+c)
print(a(1,2) + a(2,3))

3
5

TypeError: unsupported operand type(s) for +: 'NoneType' and 'NoneType'

In [9]:
#7 it will print 25
def a(b,c):
    return str(b)+str(c)
print(a(2,5))

25

In [15]:
#8 will print 10 and retrn 10
def a():
    b = 100
    print(b)
    if b < 10:
        return 5
    else:
        return 10
    return 7
print(a())

100
10

In [16]:
#9 it will return 7,14,21
def a(b,c):
    if b<c:
        return 7
    else:
        return 14
    return 3
print(a(2,3))
print(a(5,3))
print(a(2,3) + a(5,3))

7
14
21

In [17]:
#10 it will return 8
def a(b,c):
    return b+c
    return 10
print(a(3,5))

8

In [20]:
#11 it will print 500 ,500,300,500
b = 500
print(b)
def a():
    b = 300
    print(b)
print(b)
a()
print(b)

500
500
300
500

In [27]:
#12  it will print 500 ,500,300,500
b = 500
print(b)
def a():
    b = 300
    print(b)
    return b
print(b)
a()
print(b)

500
500
300
500

In [28]:
#13 it will print 500,500,300,300
b = 500
print(b)
def a():
    b = 300
    print(b)
    return b
print(b)
b=a()
print(b)

500
500
300
300

In [29]:
#14 it will print 1,2,3
def a():
    print(1)
    b()
    print(2)
def b():
    print(3)
a()

1
3
2

In [30]:
#15 it will return 1,3,5,10
def a():
    print(1)
    x = b()
    print(x)
    return 10
def b():
    print(3)
    return 5
y = a()
print(y)

1
3
5
10

## Function ||

In [43]:
 #Create a function that accepts a number as an input. Return a new list that counts down by one, from the number (as the 0th element) down to 0 (as the last element).
    
def countdown(a):
    d_list=[]
    for i in range (a,0,-1):
        d_list.append(i)
    return d_list
        
print(countdown(5))

[5, 4, 3, 2, 1]

In [52]:
#Create a function that will receive a list with two numbers. Print the first value and return the second.

def print_return( d=[]):
    
    print (d[0])
    return (d[1])


print_return([1,5])

1

5

In [86]:
#Create a function that accepts a list and returns the sum of the first value in the list plus the list's length.


def fist_len(d=[]):
    sum = d[0] + len(d)
    return sum
    
    
fist_len([1,2,5,4])

5

In [105]:
#Write a function that accepts two integers as parameters: size and value. The function should create and return a list whose length
#is equal to the given size, and whose values are all the given value.

def length_list(s,v):
    d=[] 
    for i in range(s):
         d.append(v)
    return d
    
print(length_list(4,3))

[3, 3, 3, 3]

In [110]:
 def values_greater_than_second(d=[]):
    d=[] 
        
    for i in range(len(d)):
        if (d[i]>= d[2]):
            d.append(v)
    return d
   
print(values_greater_than_second([4,53,7,6]))

[]

### Basic For Loops II

In [160]:
#Given a list, write a function that changes all positive numbers in the list to "big".



def big(d=[]):
    for i in range(len(d)):
         if d[i] >=0:
            d[i]="big"
    return d
big([-3,53,7,6])

[-3, 'big', 'big', 'big']

In [129]:
##Given a list of numbers, create a function to replace the last value with the number of positive values.


def count_posative(d=[]):
    count =0 
    for i in range (len(d)):
        if d[i]>= 0:
            count+= 1
    d[len(d)-1]=count
    return d
    

    
count_posative([-1,1,1,1])

[-1, 1, 1, 3]

In [147]:
# Create a function that takes a list and returns the sum of all the values in the array.

def list_sum(d=[]):
    sum =0
    for i in range (len(d)):
        sum+= d[i]
    return sum


list_sum([1,3,2])

2.0

In [149]:
#Create a function that takes a list and returns the average of all the values.

def list_avr(d=[]):
    sum =0
    for i in range (len(d)):
        
        sum+= d[i]
        
    return (sum/len(d))


list_avr([1,5,2])

2.6666666666666665

In [150]:
# Create a function that takes a list and returns the length of the list.


def length(d):
    return len(d)
length([1,2])

2

In [171]:
#Create a function that takes a list of numbers and returns the minimum value in the list. (Optional) If the list is empty, have the function return False.



def min(d):
    if len(d)<0:
        return False
    
    min=d[0]
    for i in range(len(d)):
        if d[i]< min:
            min = d[i]
    return min 
min([5,2,3])

2

In [229]:
#Create a function that takes a list and returns the maximum value in the array. (Optional) If the list is empty, have the function return False.


def max(d):
    if len(d)<0:
        return False
    
    max=d[0]
    for i in range(len(d)):
        if d[i]>max:
            max = d[i]
    return max 
max([5,2,3])

5

## Intermediate Functions I

In [228]:
import random
def randInt(min= 0  , max=100   ):
    num = random.random()* max +min
    return num
#print(randInt()) 		    # should print a random integer between 0 to 100
#print(randInt(max=50)) 	    # should print a random integer between 0 to 50
print(randInt(min=50)) 	    # should print a random integer between 50 to 100
#print(randInt(min=50, max=500))    # should print a random integer between 50 and 500

63.36736234103761

### Trying other ways

In [225]:
import random
def randInt(min='', max=''):
    num = random.randrange(min, max,1)
    return num

print("randim nuber from 50 to 500", randInt(min=50, max=500))

randim nuber from 50 to 500 141

In [226]:
import random

city_list = ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Philadelphia']
print("Random element from list:", random.choice(city_list))

Random element from list: Houston

In [274]:
def filter_list(l):
    new_list=[]
    for n in l:
        if type(n) !=str:
            new_list.append(n)
    return  new_list
(filter_list([1,2,'a','b']))
#(filter_list([1,'a','b',0,15]),[1,0,15])
#(filter_list([1,2,'aasf','1','123',123]),[1,2,123])

[1, 2]

In [5]:
import numpy as np

In [4]:
pip install numpy

Collecting numpy
  Downloading numpy-1.19.5-cp37-cp37m-win_amd64.whl (13.2 MB)
Installing collected packages: numpy
Successfully installed numpy-1.19.5
Note: you may need to restart the kernel to use updated packages.

In [8]:

A = np.array([[3, 5], [7, -5]])
B = np.array([6, 9])
X = np.linalg.inv(A).dot(B)

print(X)

<module 'numpy.linalg' from 'C:\\Users\\SARA\\anaconda3\\envs\\intro\\lib\\site-packages\\numpy\\linalg\\__init__.py'>