<a href="https://colab.research.google.com/github/SarahAlhugail/intro_to_python-/blob/main/Pandas_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Pandas Basics

In [1]:
dict = {"country": ["Brazil", "Russia", "India", "China", "South Africa"],
       "capital": ["Brasilia", "Moscow", "New Dehli", "Beijing", "Pretoria"],
       "area": [8.516, 17.10, 3.286, 9.597, 1.221],
       "population": [200.4, 143.5, 1252, 1357, 52.98] }

import pandas as pd
brics = pd.DataFrame(dict)
print(brics)

        country    capital    area  population
0        Brazil   Brasilia   8.516      200.40
1        Russia     Moscow  17.100      143.50
2         India  New Dehli   3.286     1252.00
3         China    Beijing   9.597     1357.00
4  South Africa   Pretoria   1.221       52.98

In [42]:
# Set the index for brics
brics.index = ["BR", "RU", "IN", "CH", "SA"]

# Print out brics with new index values
print(brics)

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Dehli   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

#  Importing a csv file using Pandas.

In [43]:

# Import pandas as pd
import pandas as pd

# Import the cars.csv data: cars
cars = pd.read_csv('https://raw.githubusercontent.com/wblakecannon/DataCamp/master/02-intermediate-python-for-data-science/4-loops/cars.csv')

# Print out cars
print(cars)

  Unnamed: 0  cars_per_cap        country  drives_right
0         US           809  United States          True
1        AUS           731      Australia         False
2        JAP           588          Japan         False
3         IN            18          India         False
4         RU           200         Russia          True
5        MOR            70        Morocco          True
6         EG            45          Egypt          True

In [44]:

# Print out country column as Pandas Series
print(cars['cars_per_cap'])

0    809
1    731
2    588
3     18
4    200
5     70
6     45
Name: cars_per_cap, dtype: int64

In [45]:
# Print out country column as Pandas DataFrame
print(cars[['cars_per_cap']])

   cars_per_cap
0           809
1           731
2           588
3            18
4           200
5            70
6            45

In [46]:
# Print out DataFrame with country and drives_right columns

print(cars [['cars_per_cap' , 'country']])

   cars_per_cap        country
0           809  United States
1           731      Australia
2           588          Japan
3            18          India
4           200         Russia
5            70        Morocco
6            45          Egypt

In [47]:
# Print out first 4 observations
print(cars[0:4])

  Unnamed: 0  cars_per_cap        country  drives_right
0         US           809  United States          True
1        AUS           731      Australia         False
2        JAP           588          Japan         False
3         IN            18          India         False

In [48]:
# Print out fifth and sixth observation
print(cars[4:6])

  Unnamed: 0  cars_per_cap  country  drives_right
4         RU           200   Russia          True
5        MOR            70  Morocco          True

In [75]:

# Import cars data
import pandas as pd
cars = pd.read_csv('https://raw.githubusercontent.com/wblakecannon/DataCamp/master/02-intermediate-python-for-data-science/4-loops/cars.csv', index_col = 0)

# Print out observation for Japan
print(cars.iloc[2])

# Print out observations for Australia and Egypt
print(cars.loc[['AUS', 'EG']])

cars_per_cap      588
country         Japan
drives_right    False
Name: JAP, dtype: object
     cars_per_cap    country  drives_right
AUS           731  Australia         False
EG             45      Egypt          True

In [36]:
print(cars.iloc[:3, :2])

 
print(cars.loc[:'JAP', :'cars_per_cap'])

  Unnamed: 0  cars_per_cap
0         US           809
1        AUS           731
2        JAP           588
  Unnamed: 0  cars_per_cap
0         US           809
1        AUS           731
2        JAP           588
3         IN            18
4         RU           200
5        MOR            70
6         EG            45